{{- partial "header.html" . -}}

<main class="content">
  <article class="article">
    <div class="article-content">
    {{- .Content -}}
    {{- range $name,$taxonomy := $.Site.Taxonomies.authors -}}
      {{- $postCount := len (where $taxonomy.Pages "Section" "posts") -}}
      <h2><a href="{{- "/authors/" | relLangURL -}}{{- $name | urlize -}}">{{- (index $.Site.Data.authors $name).FullName -}}</a></h2>
      {{- $wordCount := 0 -}}
      {{- range where $taxonomy.Pages "Section" "posts" -}}
        {{- $wordCount = add $wordCount .WordCount -}}
      {{- end -}}
      <p>发布文章 {{ $postCount }} 篇，共计 {{ $wordCount }} 字，平均每篇 {{ div $wordCount $postCount }} 字。</p>
    {{- end -}}
    </div>
  </article>
</main>

{{- partial "footer.html" . -}}
