{{- partial "header.html" . -}}

<main class="content">
  <article class="article">
    <div class="article-content">
    {{- .Content -}}
    {{- range $name,$taxonomy := $.Site.Taxonomies.authors -}}
      {{- $postCount := len (where $taxonomy.Pages "Section" "posts") -}}
      <h2>
        <a href="{{- "/authors/" | relLangURL -}}{{- $name | urlize -}}">{{- (index $.Site.Data.authors $name).FullName -}}</a>
        {{- $bluesky := (index $.Site.Data.authors $name).Bluesky -}}
        {{- with $bluesky -}}
          <a href="https://bsky.app/profile/{{- . -}}"><i class="fab fa-bluesky"></i></a>
        {{- end -}}
        {{- $twitter := (index $.Site.Data.authors $name).Twitter -}}
        {{- with $twitter -}}
          <a href="https://twitter.com/{{- . -}}"><i class="fab fa-twitter"></i></a>
        {{- end -}}
        {{- $mastodon := (index $.Site.Data.authors $name).Mastodon -}}
        {{- with $mastodon -}}
          <a href="https://{{- . -}}"><i class="fab fa-mastodon"></i></a>
        {{- end -}}
        {{- $telegram := (index $.Site.Data.authors $name).Telegram -}}
        {{- with $telegram -}}
          <a href="https://t.me/{{- . -}}"><i class="fab fa-telegram-plane"></i></a>
        {{- end -}}
        {{- $instagram := (index $.Site.Data.authors $name).Instagram -}}
        {{- with $instagram -}}
          <a href="https://instagram.com/{{- . -}}"><i class="fab fa-instagram"></i></a>
        {{- end -}}
        {{- $linkedin := (index $.Site.Data.authors $name).LinkedIn -}}
        {{- with $linkedin -}}
          <a href="https://www.linkedin.com/in/{{- . -}}"><i class="fab fa-linkedin-in"></i></a>
        {{- end -}}
      </h2>
      {{- $wordCount := 0 -}}
      {{- range where $taxonomy.Pages "Section" "posts" -}}
        {{- $wordCount = add $wordCount .WordCount -}}
      {{- end -}}
      <p>发布文章 {{ $postCount }} 篇，共计 {{ $wordCount }} 字，平均每篇 {{ div $wordCount $postCount }} 字。</p>
    {{- end -}}
    </div>
  </article>
</main>

{{- partial "footer.html" . -}}
